#!/usr/sbin/nft -f
flush ruleset
{% for name, value in (nftables_config.vars | default({})).items() %}
define {{ name }} = {{ value }}
{% endfor %}
{% for table_name, table in (nftables_config.tables | default({})).items() %}
table {{ table.type | default("inet") }} {{ table_name }} {
{% for chain_name, chain in (table.chains | default({})).items() %}
  chain {{ chain_name }} {
{% if chain.hook is defined %}
    type {{ chain.type | default("filter") }} hook {{ chain.hook }} priority {% if chain.priority is defined %}{{ chain.priority }}{% elif chain.type | default("filter") == "nat" and chain.hook == "prerouting" %}dstnat{% else %}filter{% endif %};
{% endif %}
{% if chain.policy is defined %}
    policy {{ chain.policy }};
{% endif %}
{% if chain.hook == "input" and chain.type | default("filter") != "nat" %}
{% for rule in nftables_default_input_rules %}
    {{ rule }}
{% endfor %}
{% elif chain.hook == "forward" and chain.type | default("filter") != "nat" %}
{% for rule in nftables_default_forward_rules %}
    {{ rule }}
{% endfor %}
{% endif %}
{% for rule in chain.rules | default([]) %}
{% if rule.raw is defined %}
    {{ rule.raw }}
{% endif %}
{% endfor %}
  }
{% endfor %}
}
{% endfor %}
