  global_defs {
    router_id {{ firux_keepalived_node_id }}
    script_user root
    enable_script_security
  }

  vrrp_instance VI_FIREWALL {
    state {{ firux_keepalived_state }}
    interface {{ firux_keepalived_ha_interface }}
    virtual_router_id 51
    priority {{ firux_keepalived_priority }}
    advert_int 1

    unicast_src_ip {{ firux_keepalived_ha_address }}
    unicast_peer {
      {{ firux_keepalived_peer_ha_address }}
    }

    authentication {
      auth_type PASS
      auth_pass {{ firux_keepalived_password }}
    }

    notify_master "/usr/local/sbin/firux-keepalived-master"
    notify_backup "/usr/local/sbin/firux-keepalived-backup"
    notify_fault "/usr/local/sbin/firux-keepalived-backup"

    virtual_ipaddress {
{% for vip in firux_keepalived_virtual_ipaddresses %}
      {{ vip.address }}/{{ vip.prefix }} dev {{ vip.interface }}
{% endfor %}
    }
  }
