[Match]
Name={{ interface.name }}

[Network]
Address={{ interface.address }}/{{ interface.prefix | default(24) }}
{% if interface.gateway is defined %}Gateway={{ interface.gateway }}
{% endif %}DNS={{ interface.dns | default('1.1.1.1') }}
