zebra={{ "yes" if "zebra" in firux_frr_daemons else "no" }}
bgpd={{ "yes" if "bgpd" in firux_frr_daemons else "no" }}
ospfd={{ "yes" if "ospfd" in firux_frr_daemons else "no" }}
ospf6d={{ "yes" if "ospf6d" in firux_frr_daemons else "no" }}
